{% extends 'base.html'%}
{% load staticfiles %}

{% block content %}

<div class="row">

	<div class="page_1">
		<nav class="navbar navbar-default center">
			<div class="container1" style="background-color:#d9d9d9;">
				
				<div class="navbar-header" >
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>		
				</div>
				<div class="collapse navbar-collapse" id="  
				    myNavbar">
					
						<ul class="nav navbar-nav center">
						<li><a target="__blank" href="">Aavishkar '18</a></li>
						<li><a target="__blank" href="">Rules</a></li>
						<li><a target="__blank" href="https://www.facebook.com/aavishkar.nitd/"> Contact </a></li>
						<li ><a target="__blank" href="/leaderboard">Leaderboard</a></li>
					</ul>
				</div>
			</div>	
		</nav>
	</div>
</div>

<!-- RULES OF THE GAME-->
<div class="jumbotron" align="center;" style=" background-color:grey; border: 4px solid #000033; padding:10px 30px 30px 20px;box-shadow: 0px 5px 3px black;margin-left:50px; margin-right:50px;">
	<div class="row">
		  <h2 style="color:#00001a;font-weight:bold;font-size:30px">RULES</h2>
      <ul class="padsize">
        <li style = "color:#000033;font-size:20px" >You will be facing several challenging levels. The answer to a level may be a single word, multi-word or digits.</li>
       <li style = "color:#000033;font-size:20px">Make sure that you type in all the answers in lowercase characters without any space between the words.</li>
       <li style = "color:#000033;font-size:20px">Try to correlate the hints provided in the title, slug, image and the page source to find your way to the answer.</li>
       <li style = "color:#000033;font-size:20px">Stay in touch with our official hint page which may help you in case you get stuck on any of the levels.</li>
       <li style = "color:#000033;font-size:20px">Make sure that you type in all the answers in lowercase characters without any space between the words.</li><li style = "color:#000033;font-size:20px">Make sure that you type in all the answers in lowercase characters without any space between the words.</li><li style = "color:#000033;font-size:20px">Make sure that you type in all the answers in lowercase characters without any space between the words.</li><li style = "color:#000033;font-size:20px">Make sure that you type in all the answers in lowercase characters without any space between the words.</li>
      </ul></div></div>
      <div class="row" align="center" style="padding:10px 10px 10px 10px;">
    <button class="btn btn-sm" style="box-shadow: 0px 4px 4px black;"><a href="/level_1" style="font-size:25px;padding:10px 20px 10px 20px;">Lets Get into Cartoon World...</a></button>
</div>
{% endblock %}
